<!-- header start -->

  <mat-toolbar color="warn" style="background-color: #182A36;">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>
        <img src="./assets/images/nrg_logo.png"  id="logo-img"/>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<!-- header end -->
<br/><br/>

<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    
    <mat-nav-list style="width: 250px">

      <ng-container *ngFor="let item of menuItems">
          <mat-list-item (click)="item.isExpanded = !item.isExpanded">
            
              <a mat-list-item routerLink= {{item.pageName}} > {{item.name}}</a>
              <mat-icon mat-list-icon>home</mat-icon>
              <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : item.isExpanded}"> {{item.iconType }} </mat-icon> -->
            </mat-list-item>


            <!-- <div class="submenu" [ngClass]="{'expanded' : item.isExpanded}" *ngIf="item.isExpanded">
              <div *ngFor="let subItem of item.subItems">
                <a mat-list-item routerLink= {{subItem.pageName}} > {{subItem.name}}</a>
              </div>
            </div>  -->

      </ng-container>

      <!--<a mat-list-item routerLink='/first'>First Component</a>
      <a mat-list-item routerLink='/second'>Second Component</a> -->
    </mat-nav-list>
  
  
  </mat-sidenav>
  <mat-sidenav-content>


<!-- <div *ngIf="notSelected"> -->
    <div *ngIf="route.firstChild.children.length === 0">

        <h2>NRG ERP is a product launch announcement?</h2>
        Dear Team
    
        The new ERP is finally yet to come here!
        
        What makes the ERP different is Save/Manage Your Data
    
        You can use your ERP directly from our Website by register.
        
        Product Launch : 01-Jan-2020
        
        By
        NRG
    </div>
    
    <br/><br/><br/><br/><br/><br/>


    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened>
    <a mat-list-item routerLink='/first'>First Component</a>
    <a mat-list-item routerLink='/second'>Second Component</a>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>-->
